.footer {
  background-color: #F1F1F1;
  color: #31343F;

  &__container {
    max-width: 80rem; // max-w-7xl
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;

    @media (min-width: 1280px) {
      padding-left: 0;
      padding-right: 0;
    }

    &--with-links {
      padding-top: 3rem; // pt-12
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;

    @media (min-width: 640px) {
      flex-direction: row;
      gap: 2rem;
    }

    @media (min-width: 768px) {
      gap: 2rem;
    }
  }

  &__company {
    max-width: 500px;
    width: 100%;
  }

  &__logo {
    margin-bottom: 1rem;
    height: 1.5rem;
    width: auto;

    @media (min-width: 640px) {
      height: 2rem;
    }
  }

  &__description {
    font-size: 0.75rem;
    margin-bottom: 1rem;

    @media (min-width: 640px) {
      font-size: 0.875rem;
    }
  }

  &__social {
    display: flex;
    gap: 1rem;

    &-link {
      color: inherit;
      transition: color 0.2s;

      &:hover {
        color: #31343F;
      }

      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
      }
    }

    &-icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__links {
    &-column {
      &--company {
        @media (min-width: 640px) {
          padding-left: 5px;
          padding-right: 5px;
        }
      }

      &--legal {
        @media (min-width: 640px) {
          padding-left: 0.625rem;
          padding-right: 0.625rem;
        }
      }
    }

    &-title {
      color: #31343F;
      font-size: 0.75rem;
      font-weight: 600;
      margin-bottom: 1rem;

      @media (min-width: 640px) {
        font-size: 1rem;
      }
    }

    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
    }

    &-item {
      margin: 0;
    }

    &-link {
      color: #494D5D;
      font-size: 0.5rem;
      font-weight: 400;
      text-decoration: none;
      transition: color 0.2s;
      font-size: 0.85rem;

      @media (min-width: 640px) {
        font-size: 0.85rem;
      }

      &:hover {
        color: #494D5D;
      }
    }
  }

  &__copyright {
    font-size: 0.875rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media (min-width: 640px) {
      font-size: 1rem;
    }

    &--with-border {
      margin-top: 1.5rem;
      border-top: 1px solid #CACACA;

      @media (min-width: 640px) {
        margin-top: 2.5rem;
      }
    }

    &-text {
      color: #31343F;
      margin: 0;
    }
  }
}