.restaurant-card {
  padding-bottom: 1rem;
  &__tags {
    display: flex;
    gap: 0.5rem;
    // margin-bottom: 1rem;
    align-items: center;

    @media (max-width: 767px) {
      font-size: 10px;
    }
  }

  &__tag {
    background-color: transparent;
    color: #31343F;
    border-radius: 0.25rem; // Changed to smaller border radius for rectangle shape
    font-size: 1rem;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    text-transform: none; // Optional: makes tags look more distinct
    letter-spacing: 0.025em; // Optional: slightly improves readability of uppercase text

    @media (max-width: 767px) {
      font-size: 10px;
    }
  }

  &__img {
    // width: 304px;
    // height: 222px;
    object-fit: cover;
    border-radius: 16px;
  }
}
