.auth {
  display: flex;
  align-items: start;
  justify-content: center;
  background-color: #FCFCFC;
  border-radius: 1.5rem;

  &__container {
    width: 100%;
    max-width: 30.5rem;
  }

  &__card {
    // background-color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
  }

  &__header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: #31343F;
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: 767px) {
      font-size: 1.125rem;
    }
  }

  &__title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: #1f2937;
    text-align: center;
    margin-bottom: 14px;

    @media (max-width: 767px) {
      font-size: 0.875rem;
    }
  }

  &__subtitle {
    color: #6b7280;
    text-align: center;
    margin-bottom: .5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__terms {
    font-size: 0.85rem;
    font-weight: 500;
    color: #374151;
  }

  &__terms a {
    color: #374151;
    text-decoration: underline;
  }

  &__label {
    font-size: 0.875rem;
    font-weight: 400;
    color: #374151;
  }

  &__input-group {
    position: relative;
  }

  &__input-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    width: 1.25rem;
    height: 1.25rem;
  }

  &__input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #797979 !important;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #31343F;
    transition: border-color 0.2s ease;

    &::placeholder {
      color: #797979;
    }

    &:focus, &:hover {
      outline: none;
      border-color: #31343F !important;
      background-color: #F1F1F1 !important;
    }

    @media (max-width: 767px) {
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }

  &__select {
    background: transparent;
    background-image: url(/dropdown.svg);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;

    @media (max-width: 767px) {
      background-position-y: 8px;
    }
  }

  &__button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 0.375rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #1d4ed8;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px #93c5fd;
    }
  }

  &__footer {
    margin: 0.875rem 0;
    text-align: center;
    color: #6b7280;
    font-size: 0.875rem;
  }

  &__link {
    color: #494D5D;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.875rem;

    &:hover {
      font-size: 0.85rem;
      text-decoration: underline;
    }
  }
}
