@import "./base/variables";
@import "./base/typography";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

// Global Styles
body {
  font-family: $font-inter;
  color: $color-gray-800;
  background-color: $color-white;
  margin: 0;
  // padding: 5.5rem 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: $color-gray-800;
  font-family: $font-inter;
}

a {
  color: $color-gray-800;
  text-decoration: none;
  font-family: $font-inter;

  &:hover {
    text-decoration: underline;
  }
}

html body[data-scroll-locked] {
  overflow-y: auto !important;
  margin-right: 0 !important;
} 

.auth {
  &__input {
    padding: 0.75rem;
    border-radius: 8px;

    &:-webkit-autofill {
      box-shadow: 0 0 0px 1000px white inset !important;
      -webkit-text-fill-color: #000 !important;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}
