@tailwind base;
@tailwind components;
@tailwind utilities;

// Import base styles
@import "./base/typography";
@import "./base/reset";

// Import layout styles
@import "./layout/container";

// Import component styles
@import "./components/navbar";
@import "./components/footer";
@import "./components/swipeable-review-viewer-desktop";
